@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar{
    height: calc(100vh - 5rem);
    transition-property: margin, left;
    transition-duration: 200ms;
    transition-timing-function: linear;
    @apply top-20 bg-white z-30 shadow-lg sm:sticky  w-32 fixed
  }


